# Dependencias
node_modules/
**/node_modules/

# Archivos de entorno y credenciales (PRIVADO)
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# Compilados y builds
dist/
dist-ssr/
build/
**/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo y editores
.DS_Store
Thumbs.db
.vscode/
.idea/
